<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>KugouKtvUrl</string>
        <string>KwaiAuth</string>
        <string>KwaiAuth2</string>
        <string>LanternWiFi</string>
        <string>LinksureWiFi</string>
        <string>Miaopai</string>
        <string>QQ41D4D384</string>
        <string>WiFiMasterKey</string>
        <string>alipays</string>
        <string>alitaobao</string>
        <string>alitbopen</string>
        <string>amapuri</string>
        <string>awemesso</string>
        <string>b612cn</string>
        <string>baiduboxapp</string>
        <string>baiduboxappv5</string>
        <string>baidumap</string>
        <string>bcz</string>
        <string>bdboxiosqrcode</string>
        <string>bdfc169c8d3a2eec4a</string>
        <string>bdmap</string>
        <string>beibeiapp</string>
        <string>com.sogou.input</string>
        <string>com.sogou.sogouinput</string>
        <string>dianping</string>
        <string>douban</string>
        <string>dxy-aspirinpro</string>
        <string>faceu</string>
        <string>gifshow</string>
        <string>htssharesdkfaceu</string>
        <string>iMeituan</string>
        <string>iosamap</string>
        <string>iqiyi</string>
        <string>itaobao</string>
        <string>itlogin-JSMahjong</string>
        <string>jdlogin</string>
        <string>jie</string>
        <string>jiongji100</string>
        <string>keep</string>
        <string>kugouURL</string>
        <string>kwai</string>
        <string>mapbainuo</string>
        <string>meituxiuxiu</string>
        <string>mogujie</string>
        <string>momochat</string>
        <string>mqq</string>
        <string>mqqOpensdkSSoLogin</string>
        <string>mqqapi</string>
        <string>mqqbrowser</string>
        <string>mqqconnect</string>
        <string>mqqopensdkapi</string>
        <string>mqqopensdkapiV2</string>
        <string>mqqopensdkapiV3</string>
        <string>mqqopensdkapiV4</string>
        <string>mqqopensdkdataline</string>
        <string>mqqopensdkfriend</string>
        <string>mqqopensdkgrouptribeshare</string>
        <string>mqqqzoneapi</string>
        <string>mqqwpa</string>
        <string>mqzone</string>
        <string>mqzoneopensdk</string>
        <string>mqzoneopensdkapi</string>
        <string>mqzoneopensdkapi19</string>
        <string>mqzoneopensdkapiV2</string>
        <string>mqzoneshare</string>
        <string>mqzonev2</string>
        <string>mqzonewx</string>
        <string>mttbrowser</string>
        <string>mtxx</string>
        <string>openApp.jdMobile</string>
        <string>openjd</string>
        <string>pddopen</string>
        <string>pinduoduo</string>
        <string>pubgmhd1106467070</string>
        <string>qbrowser62</string>
        <string>qmkege</string>
        <string>qqmusic</string>
        <string>qqmusic2.4</string>
        <string>qqmusicsdk</string>
        <string>qqnews</string>
        <string>qqnewstrace</string>
        <string>qtt</string>
        <string>qutoutiao</string>
        <string>sinaweibo</string>
        <string>sinaweibohd</string>
        <string>sinaweibosso</string>
        <string>smoba1104466820</string>
        <string>snssdk1128</string>
        <string>tangdou</string>
        <string>taobao</string>
        <string>tbopen</string>
        <string>tencent1104466820</string>
        <string>tencent1106467070</string>
        <string>tencentlaunch1104466820</string>
        <string>tenvideo</string>
        <string>tenvideo2</string>
        <string>tmall</string>
        <string>txvideo</string>
        <string>vipshop</string>
        <string>wbcore</string>
        <string>wbcube</string>
        <string>wbmain</string>
        <string>wechat</string>
        <string>weibo</string>
        <string>weibosdk</string>
        <string>weibosdk2.5</string>
        <string>weibosso</string>
        <string>weixin</string>
        <string>weixinapp</string>
        <string>wtloginmqq</string>
        <string>wtloginmqq2</string>
        <string>wtloginqzone</string>
        <string>wuba</string>
        <string>wx95a3a4d7c627e07d</string>
        <string>youku</string>
        <string>youkuShare</string>
        <string>zhihu</string>
        <string>smycredit</string>
        <string>ppjidai</string>
        <string>YPConvenientPay</string>
        <string>daishangqian</string>
        <string>A.sanwenqian.cn</string>
    </array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tbopen25355811</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
